*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;  
    background: linear-gradient(68.15deg, #2f2325 16.62%, #8e5d52 85.61%);
   
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.logo{
    width: 72px;
    border-radius: 40px;
    border: 2px solid white;
}

.menu-nav{
    display: flex;
    gap: 32px;
}

.menu-item{
    font-family: 'Play', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: white;
}

.conteudo{
    border-top: 1px solid white;
}

.section-principal{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 32px;
}

.section-principal-text{
    font-family: 'Play', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 32px;
    color: white;
}

.section-principal-titulo{
    font-family: 'Play', sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: white;
}

.section-principal-paragrafo{
    display: flex;
    text-align: justify;
}

.image{
    width: 50px;
}

.div-img{

}

.footer{

}

@media(max-width: 800px){

}